**/node_modules
node_modules/**
*.env
.env
**/*.env
.git/
database/backups/
database/test.comments.sql
database/setup.sql
notes.txt
TODO.txt
Abrechnung.txt
.vscode/
.idea/
.hintrc
public/img/test/
database/backups/
*.env
.gitignore
LICENSE
README.md