@charset "UTF-8";

:root {
    --font-text: "Titillium Web", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-title: "Sarabun", system-ui, -apple-system, BlinkMacSystemFont, monospace;
    --header-height: 80px;
    --padding-side: 3svw;
    --dynamic-padding: var(--padding-side);

    --gold: rgb(251, 192, 45);
    --info: var(--accent-500);
    --success: rgb(54, 188, 14);
    --error: rgb(247, 47, 37);

    --text-50: rgb(241, 244, 241);
    --text-100: rgb(227, 232, 227);
    --text-200: rgb(199, 209, 199);
    --text-300: rgb(171, 186, 171);
    --text-400: rgb(143, 163, 143);
    --text-500: rgb(115, 140, 115);
    --text-600: rgb(92, 112, 92);
    --text-700: rgb(69, 84, 69);
    --text-800: rgb(46, 56, 46);
    --text-900: rgb(23, 28, 23);
    --text-950: rgb(11, 14, 11);

    --background-50: rgb(241, 243, 241);
    --background-100: rgb(227, 232, 227);
    --background-200: rgb(199, 209, 199);
    --background-300: rgb(172, 185, 172);
    --background-400: rgb(144, 162, 144);
    --background-500: rgb(116, 139, 116);
    --background-600: rgb(93, 111, 93);
    --background-700: rgb(70, 83, 70);
    --background-800: rgb(46, 56, 46);
    --background-900: rgb(23, 28, 23);
    --background-950: rgb(12, 14, 12);

    --primary-50: rgb(233, 237, 252);
    --primary-100: rgb(210, 218, 249);
    --primary-200: rgb(166, 181, 242);
    --primary-300: rgb(121, 144, 236);
    --primary-400: rgb(76, 107, 230);
    --primary-500: rgb(32, 70, 223);
    --primary-600: rgb(25, 56, 179);
    --primary-700: rgb(19, 42, 134);
    --primary-800: rgb(13, 28, 89);
    --primary-900: rgb(6, 14, 45);
    --primary-950: rgb(3, 7, 22);

    --secondary-50: rgb(241, 243, 244);
    --secondary-100: rgb(227, 230, 232);
    --secondary-200: rgb(199, 206, 209);
    --secondary-300: rgb(171, 181, 186);
    --secondary-400: rgb(143, 156, 163);
    --secondary-500: rgb(115, 131, 140);
    --secondary-600: rgb(92, 105, 112);
    --secondary-700: rgb(69, 79, 84);
    --secondary-800: rgb(46, 53, 56);
    --secondary-900: rgb(23, 26, 28);
    --secondary-950: rgb(11, 13, 14);

    --accent-50: rgb(232, 238, 252);
    --accent-100: rgb(209, 221, 250);
    --accent-200: rgb(163, 186, 245);
    --accent-300: rgb(117, 152, 240);
    --accent-400: rgb(71, 118, 235);
    --accent-500: rgb(25, 83, 230);
    --accent-600: rgb(20, 67, 184);
    --accent-700: rgb(15, 50, 138);
    --accent-800: rgb(10, 33, 92);
    --accent-900: rgb(5, 17, 46);
    --accent-950: rgb(3, 8, 23);
}

body {
    font-family: var(--font-text);
    background-color: var(--background-50);
    color: var(--text-950);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

*::selection,
*::marker {
    background-color: rgba(25, 83, 230, 0.5); /* accent-500 */
}

img {
    -webkit-user-drag: none;
}

img::marker,
img::selection {
    background-color: transparent;
}

.hidden {
    display: none !important;
}

header {
    --header-content-height: calc(var(--header-height) / 10 * 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--header-height) / 10) var(--padding-side);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--background-50);
    box-shadow: 0 2px 5px rgb(115, 131, 140, 0.5);
    z-index: 1000;
}

.logo {
    display: flex;
    gap: 1.5svw;
    height: var(--header-content-height);
    line-height: calc(var(--header-content-height) / 2);
    color: var(--text-950);
    text-decoration: none;
    font-size: calc(var(--header-content-height) / 2.5);
    font-weight: 800;
    font-family: var(--font-title);
    letter-spacing: 0.75px;
}

.shortcuts {
    display: flex;
    gap: 1.5svw;
    justify-content: space-between;
    align-items: center;
    --primary-btn-size: calc(var(--header-height) / 10 * 6);
}

.primary-btn {
    display: block;
    border: none;
    font-size: calc(var(--primary-btn-size) / 2.5);
    font-weight: 700;
    font-family: var(--font-title);
    color: var(--text-50);
    background-color: var(--primary-500);
    text-transform: uppercase;
    height: var(--primary-btn-size);
    padding: 0 calc(var(--primary-btn-size) / 2);
    border-radius: calc(var(--primary-btn-size) / 2);
    cursor: pointer;
    transition: all 0.25s ease;
    box-sizing: border-box;
    line-height: 1;
    line-break: strict;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primary-btn:hover {
    background-color: var(--primary-600);
    transform: skewX(-5deg);
}

.primary-btn:active {
    background-color: var(--primary-700);
    transform: skewX(-10deg);
}

.primary-btn:disabled {
    background-color: var(--primary-300);
    color: var(--text-200);
    cursor: not-allowed;
}

.primary-btn::selection,
.primary-btn::marker {
    background-color: rgba(115, 131, 140, 0.5); /* secondary-500 */
}

.secondary-btn {
    display: block;
    border: calc(var(--secondary-btn-size) / 50) solid var(--primary-500);
    font-size: calc(var(--secondary-btn-size) / 2.5);
    font-weight: 700;
    font-family: var(--font-title);
    color: var(--primary-500);
    background-color: transparent;
    text-transform: uppercase;
    height: var(--secondary-btn-size);
    padding: 0 calc(var(--secondary-btn-size) / 2);
    border-radius: calc(var(--secondary-btn-size) / 2);
    cursor: pointer;
    transition: all 0.25s ease;
    box-sizing: border-box;
    line-height: 1;
    line-break: strict;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.secondary-btn:hover {
    background-color: var(--primary-100);
    transform: skewX(-3deg);
}

.secondary-btn:active {
    background-color: var(--primary-200);
    transform: skewX(-6deg);
}

.secondary-btn:disabled {
    border-color: var(--secondary-300);
    color: var(--secondary-300);
    cursor: not-allowed;
}

.secondary-btn:disabled:hover {
    background-color: var(--secondary-100);
}

.secondary-btn::selection,
.secondary-btn::marker {
    background-color: rgba(115, 131, 140, 0.5); /* secondary-500 */
}

.phone {
    display: none; /* >1000px -> block */
}

.phone-number {
    text-decoration: none;
    color: var(--accent-500);
    font-size: calc(var(--header-content-height) / 2.5);
}

.socials {
    display: none; /* >1200px -> flex  */
    gap: 1svw;
    justify-content: space-between;
    align-items: center;
    height: var(--header-content-height);
}

.socials-link {
    --height: calc(var(--header-content-height) / 2);
    display: block;
    height: var(--height);
}

.socials-icon {
    height: var(--height);
    width: auto;
    aspect-ratio: 1 / 1;
    transition: all 0.25s ease;
    filter: invert(53%) sepia(9%) saturate(504%) hue-rotate(158deg) brightness(94%) contrast(95%);
}

.socials-icon:hover {
    filter: invert(53%) sepia(9%) saturate(504%) hue-rotate(158deg) brightness(94%) contrast(95%) brightness(150%);
}

main {
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

main::before {
    content: "";
    display: block;
    height: var(--header-height);
}

footer {
    width: 100%;
    min-height: 10vh;
    background-color: var(--accent-400);
}

.hero {
    --col: 1fr;
    --row: 1fr;
    --primary-btn-size: calc(var(--header-height) * 0.75);
    --secondary-btn-size: calc(var(--header-height) * 0.75);
    display: grid;
    gap: var(--dynamic-padding);
    min-height: 75svh;
    max-height: 100svh;
    margin: 0 var(--padding-side);
    grid-template-columns: var(--col);
    grid-template-rows: var(--row);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6svh;
}

.hero-title {
    font-size: calc(var(--header-height) * 0.75);
    font-weight: 900;
    margin: 0;
    line-height: 1.25;
}

.hero-special-text {
    background: linear-gradient(120deg, var(--primary-400), var(--primary-600));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero-text {
    font-size: calc(var(--header-height) / 3.5);
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
    text-wrap: balance;
}

.hero-img-wrapper {
    background: url(../img/blob.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none; /* >1000px -> grid */
    place-items: center;
}

.hero-cta {
    display: flex;
    gap: 3svw;
}

svg.divider {
    display: block;
    width: 100%;
    height: calc(var(--header-height) * 0.75);
    max-height: 60px;
    margin: 0;
}

svg.divider.flipped {
    transform: rotate(180deg);
}

.wave-path {
    fill: var(--accent-500);
}

.wave-path:nth-child(1) {
    animation: move-wave 4s linear infinite;
}

.flipped .wave-path:nth-child(1) {
    animation: move-wave-bottom 6s ease-in-out infinite;
}

.banner {
    --height: 20vh;
    width: 100%;
    min-height: var(--height);
    background-color: var(--accent-500);
    display: flex;
    flex-wrap: wrap;
    gap: var(--dynamic-padding);
    justify-content: space-around;
    align-items: center;
    padding: calc(var(--height) / 4) var(--padding-side);
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.banner-info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--height) / 10);
}

.banner-img {
    height: calc(var(--height) / 2);
    width: auto;
    aspect-ratio: 1 / 1;
    filter: invert(1);
    animation: 5s linear infinite bounce;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--height) / 10);
}

.banner-title {
    font-size: calc(var(--height) * 0.15);
    font-weight: 900;
    margin: 0;
    line-height: 1;
    text-align: center;
    color: var(--text-50);
}

.banner-text {
    font-size: calc(var(--height) * 0.1);
    font-weight: 400;
    margin: 0;
    line-height: 1;
    text-align: center;
    color: var(--text-50);
}

.banner-title::marker,
.banner-title::selection,
.banner-text::marker,
.banner-text::selection {
    background-color: rgba(115, 131, 140, 0.5); /* secondary-500 */
}

.prefooter {
    --primary-btn-size: 3rem;
    --secondary-btn-size: 3rem;
    --children-count: 2;
    display: grid;
    grid-template-columns: repeat(var(--children-count), calc((100% - (var(--children-count) - 1) * var(--padding-side)) / var(--children-count)));
    gap: var(--padding-side);
    justify-content: space-around;
    align-items: center;
    padding: 0 var(--padding-side);
    box-sizing: border-box;
    margin-top: 3rem;
}

.prefooter-call,
.prefooter-write {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 1rem 0;
    padding: 0 var(--padding-side);
    line-height: 1.25;
    text-align: center;
}

.prefooter-title {
    font-size: calc(2.5rem / 1.6171);
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.4;
    text-align: center;
    color: var(--secondary-700);
}

.prefooter-playground {
    display: none; /* >1000px -> block */
    width: 100%;
    height: 100%;
}

.anim-scale {
    transform: scale(0.9);
    max-width: 100%;
    animation: scale 2s ease infinite;
}

.anim-scale.delay-1 {
    animation-delay: 1s;
}

.prefooter-canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.info-wrapper {
    --primary-btn-size: 3rem;
    display: grid;
    gap: var(--padding-side);
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 0 var(--padding-side);
    margin: var(--padding-side) 0;
    box-sizing: border-box;
    width: 100%;
}

.info-video {
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 1rem;
    max-width: 70vw;
}

.info-video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    max-width: calc(70vw * 0.15);
    height: auto;
    aspect-ratio: 1 / 1;
    z-index: 10;
    cursor: pointer;
    background-color: var(--accent-500);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.info-video-play-icon {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    filter: invert(1);
    padding: 15%;
    box-sizing: border-box;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 70vw;
    height: 100%;
    width: 100%;
}

.info-text {
    width: 100%;
    max-width: 60ch;
    text-wrap: balance;
    text-align: justify;
    font-size: 1.2rem;
}

.info-video-wrapper {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
}

.floating-reviews {
    position: relative;
    width: 100%;
    height: 70vh;
    margin: 4rem 0;
    overflow: hidden;
}

.floating-reviews::before,
.floating-reviews::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(180deg, var(--background-50), transparent);
    pointer-events: none;
    z-index: 10;
    transform: translateY(-2px);
}

.floating-reviews::after {
    top: unset;
    bottom: 0;
    transform: rotate(180deg) translateY(-2px);
}

.reviews-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    isolation: isolate;
}

.floating-card-wrapper {
    position: relative;
	background-color: var(--background-50);
	border-radius: 10px;
	padding: 20px;
	min-width: 100px;
    max-width: 400px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.floating-img-wrapper {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 25px;
}

.floating-img {
	width: 100%;
}

.floating-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.floating-user h4 {
	margin: 0;
	font-size: 22px;
	font-weight: 600;
}

.single-review p {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	color: var(--text-800);
}

.review-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	font-size: 14px;
	color: var(--secondary-600);
}

.rating {
	display: flex;
}

.rating span {
	color: var(--text-800);
	font-size: 18px;
}

.rating span.active {
	color: var(--gold);
}

.carousel {
    width: 100%;
    margin: 0 auto;
    padding: var(--padding-side);
    box-sizing: border-box;
}

.image-comparer {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    --divider-width: calc(var(--width) / 500);
    --handle-size: calc(var(--height) / 15);
    --sl-border-radius-circle: 20%;
    --sl-color-neutral-0: var(--background-50);
    --sl-color-neutral-700: var(--background-50); /* is not displayed */
}

.compare-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.compare-handle {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
    padding: 10%;
    box-sizing: border-box;
}

.compare-footer {
    text-align: center;
    text-wrap: balance;
    padding: 0 6svw;
    margin-bottom: 6svw;
    margin-top: 0.5em
}

.preloader-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

.preloader-boxes {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.preloader-box {
    --path-in: 0;
    --path-out: 0;
    height: 100%;
    width: 110%;
    background-color: var(--background-50);
    overflow: hidden;
    clip-path: polygon(var(--path-out) 0, var(--path-in) 0, var(--path-in) 100%, var(--path-out) 100%);
    pointer-events: all;
}

#contact,
#comments {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: calc(var(--header-height) / 2) var(--dynamic-padding);
    box-sizing: border-box;
    z-index: 750;
    overflow-y: auto;
}

#contact .primary-btn,
#comments .primary-btn {
    --primary-btn-size: calc(var(--header-height) / 3 * 2);
    padding: 0 var(--primary-btn-size);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#contact .primary-btn:hover,
#comments-open:hover,
#comments .primary-btn:hover {
    transform: skewX(-5deg) translateX(-50%);
}

#contact .primary-btn:active,
#comments-open:active,
#comments .primary-btn:active {
    transform: skewX(-10deg) translateX(-50%);
}

#contact .main-title,
#comments .main-title {
    margin-bottom: 3rem;
}

.contact-name-wrapper,
.comments-name-wrapper {
    display: flex;
    gap: var(--dynamic-padding);
    justify-content: space-between;
    align-items: center;
}

.contact-input,
.comments-input {
    width: 100%;
    margin-bottom: 1rem;
}

.contact-file-label,
.comments-file-label {
    --height: calc(var(--sl-input-height-medium) - var(--sl-input-border-width) * 2);
    display: flex;
    height: var(--height);
    padding: 0 var(--sl-input-spacing-medium);
    justify-content: center;
    align-items: center;
    border: var(--sl-input-border-width) solid var(--sl-color-neutral-300);
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.contact-file-label > img,
.comments-file-label > img {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    padding: calc(var(--height) / 10);
    box-sizing: border-box;
    filter: invert(31%) sepia(5%) saturate(850%) hue-rotate(202deg) brightness(97%) contrast(88%);
}

.visually-hidden {
    height: 0;
    width: 0;
}

.contact-file-wrapper,
.comments-file-wrapper {
    display: flex;
    gap: var(--dynamic-padding);
}

.close-btn {
    border: none;
    outline: none;
    background-color: var(--secondary-500);
    padding: 0;
    border-radius: 50%;
    height: var(--close-btn-size);
    width: var(--close-btn-size);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

#contact-close,
#comments-close {
    --close-btn-size: calc(var(--header-height) / 2);
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--dynamic-padding)
}

#contact-close > img,
#comments-close > img {
    padding: calc(var(--close-btn-size) / 10);
    filter: invert(1);
}

#comments-open {
    --primary-btn-size: 3rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.comments-rating {
    --symbol-size: 3rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1.5rem 0;
}

.floating-img-wrapper:has(.floating-img[src$=".svg"]) {
    border-radius: 0;
}

sl-alert::part(base) {
    position: fixed;
    bottom: 5vh;
    right: var(--dynamic-padding);
    z-index: 900;
}

footer *::selection {
    background-color: rgba(143, 156, 163, 0.5); /* secondary-400 */
}

.footer-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: calc(2 * var(--dynamic-padding));
    justify-content: center;
    padding: 3rem var(--dynamic-padding);
    box-sizing: border-box;
    color: var(--text-50);
}

.footer-logo {
    display: grid;
    place-items: center;
}

.footer-logo img {
    width: 100%;
    height: auto;
    max-height: 6rem;
    max-width: 6rem;
    aspect-ratio: 1 / 1;
    filter: invert(1);
}

.footer-element {
    margin: 0;
    padding: 0;
}

.footer-element li {
    list-style: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.footer-bottom {
    padding: 3rem 0;
    margin: 0 var(--dynamic-padding);
    box-sizing: border-box;
    border-top: 1px solid var(--background-100);
}

.footer-socials {
    height: 2rem;
    display: flex;
    gap: 1.5svw;
    justify-content: center;
    align-items: center;
}

.footer-socials a {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
}

.footer-socials img {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    filter: invert(1);
}

.footer-socials a:last-child img {
    filter: none;
}

.footer-legal {
    text-align: center;
    color: var(--text-50);
    font-size: 1rem;
}

.miniature {
    display: none; /* 325px > x > 400px -> flex */
    gap: 1svw;
    justify-content: space-between;
    align-items: center;
    height: var(--header-content-height);
}



@media screen and (min-width: 1200px) {
    .socials {
        display: flex;
    }

    .phone,
    .prefooter-playground {
        display: block;
    }

    .hero-img-wrapper {
        display: grid;
    }

    .hero {
        --col: repeat(2, 1fr);
    }

    .prefooter {
        --children-count: 3;
    }

    .info-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .carousel {
        --slide-gap: 50px;
        --scroll-hint: 150px;
        max-width: 1500px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .phone,
    .prefooter-playground {
        display: block;
    }

    .hero-img-wrapper {
        display: grid;
    }

    .hero {
        --col: repeat(2, 1fr);
    }

    .prefooter {
        --children-count: 3;
    }
}

@media screen and (min-width: 750px) and (max-width: 999px) {
    .socials {
        display: flex;
    }

    .hero-title,
    .hero-text {
        text-align: center;
        padding: 0 var(--padding-side);
    }

    .hero-cta {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-content {
        align-items: center;
    }
}

@media screen and (min-width: 575px) and (max-width: 749px) {
    .hero-title,
    .hero-text {
        text-align: center;
        padding: 0 var(--padding-side);
    }

    .hero-cta {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-content {
        align-items: center;
    }

    .footer-element li {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    :root {
        font-size: 14px;
        --dynamic-padding: 3vh;
    }

    .contact {
        display: none;
    }

    .hero-title,
    .hero-text {
        text-align: center;
        padding: 0 var(--padding-side);
    }

    .hero-title {
        font-size: calc(var(--header-height) * 0.5);
    }

    .hero-cta {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-content {
        align-items: center;
    }

    .info-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 3svh;
        margin: 3svh 0;
    }

    .info-text {
        margin: 0 0 3svh 0;
    }

    .info-video {
        max-width: 100%;
    }

    .contact-name-wrapper,
    .comments-name-wrapper,
    .contact-file-wrapper,
    .comments-file-wrapper {
        flex-wrap: wrap;
        gap: 0;
    }

    .comments-rating {
        --symbol-size: 2rem;
        margin: 1rem 0;
    }

    .footer-top {
        gap: var(--dynamic-padding);
        justify-content: flex-start;
    }

    .footer-element li {
        margin-bottom: 0;
    }

    @media screen and (min-width: 400px) {
        .socials {
            display: flex;
        }
    }

    @media screen and (max-width: 400px) {
        .hero {
            --primary-btn-size: calc(var(--header-height) * 0.5);
            --secondary-btn-size: calc(var(--header-height) * 0.5);
        }

        .hero-text {
            font-size: calc(var(--header-height) / 4);
        }

        .prefooter {
            display: flex;
            flex-direction: column;
            gap: var(--dynamic-padding);
            margin-bottom: 3rem;
        }

        .prefooter-call,
        .prefooter-write {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 325px) and (max-width: 399px) {
        .miniature {
            display: flex;
        }
    }

    @media screen and (max-width: 350px) {
        .miniature .hide-me {
            display: none;   
        }
    }
}

@media screen and (max-width: 260px) {
    :root {
        --header-height: 60px;
        font-size: 12px;
    }

    .banner {
        --height: 15vh;
    }

    a, button, h1, h2, h3, h4, h5, h6, p, span {
        word-wrap: break-word;
    }

    .comments-rating {
        --symbol-size: 1.5rem;
        margin: 0.5rem 0;
    }
}

@keyframes move-wave {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-wave-bottom {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}