<div id="privacy">
    <h1>Datenschutzerklärung</h1>
    







    <h1>TODO</h1>









    <button type="button" id="privacy-close" class="close-btn" title="Schliessen">
        <img src="/img/close.svg" alt="Ein X zum Schliessen">
    </button>
</div>
<div id="imprint">
    <h1>Impressum</h1>
    <h3>Bilder</h3>
    <ul>
        <li>Logo: Eigene Gestaltung</li>
        <li>Vorher - Nachher Bilder: Eigene Aufnahmen</li>
        <li>Profilbilder: Unbekannt (Keine Verantwortung, unangebrachte Bilder werden entfernt)</li>
        <li><a href="https://unsplash.com/de/fotos/white-and-gray-floral-sofa-chair-V5OEpF12pzw" target="_blank">comments-replacement.jpg</a>: Foto von <a href="https://unsplash.com/de/@krystalblackphoto" target="_blank">@krystalblackphoto</a> auf <a href="https://unsplash.com" target="_blank">unsplash.com</a></li>
    </ul>
    <h3>Vektorgrafiken</h3>
    <ul>
        <li>Logo: Eigene Gestaltung</li>
        <li>Icons aller Art von <a href="https://ionic.io/ionicons" target="_blank">IonIcons</a></li>
        <li>Sofa SVG von <a href="https://www.freepik.com/free-vector/sofa-concept-illustration_316846136.htm#fromView=search&page=1&position=18&uuid=80f75fcb-3985-40c3-b360-c0ce30f06b2e" target="_blank">Freepik</a> (Verändert)</li>
        <li>Pin von <a href="https://www.svgrepo.com/svg/532539/location-pin" target="_blank">SVG Repo</a></li>
    </ul>
    <h3>Videos</h3>
    <ul>
        <li>Erklärungsvideo: Eigene Aufnahme</li>
    </ul>
    <h3>3D-Modelle</h3>
    <ul>
        <li>
            <a href="https://skfb.ly/owtPx" target="_blank">"Couch Sofa" (https://skfb.ly/owtPx)</a> by <a href="https://sketchfab.com/pixion" target="_blank">Pixion</a> is licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/)</a>.
        </li>
    </ul>
    <br><br>
    <h3>Kontakt</h3>



    <h1>TODO</h1>




    <button type="button" id="imprint-close" class="close-btn" title="Schliessen">
        <img src="/img/close.svg" alt="Ein X zum Schliessen">
    </button>
</div>